data/orion-muse/*.fits
data/orion-hawki/*.fits
data/orion-hawki/*.fits.Z
*Notes.bib
*.aux
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
/paper/auto/raman-pdr.el
/paper/raman-pdr.out
doc/ltximg
/.DS_Store
extinct-paper/auto/orion-extinct.el
/hi-21cm-paper/orion-h1-21cm.synctex(busy)
*.el
/paper/bob-comments/
/paper/2020HenneyRaman-pdr-bob-comments-2020-01-06.pdf
